.review-container{
   margin:50px auto;

}
.cart2-container{
    margin:50px auto;
    font-family: Lato;
    background-color:#d8bd93;
    color: #0E161A;
    width: 264px;
    height: 444px;
    text-align:center;
    padding: 8px;
    position: sticky;
    top:0;
}